.products-pack{
    grid-column: 1;
    grid-row: 5;
    width: 340px;
    height: 250px;
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 10px;
    background-color:#FFDCBD ;
    background-size: cover;
    box-shadow: 7px 7px 1px 1px rgba(91, 91, 92, 0.2);
  }

  .products-pack caption{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
@media screen and (min-width: 767px){
  .products-pack{
    margin-top: 80px;
    grid-column: 1;
    grid-row: 2;
  }
}