.DisplayCode{
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 80px;
}

@media screen and (min-width: 767px){
    .DisplayCode{
        grid-template-columns : 1fr 1fr 1fr;
        grid-template-rows : 1fr 1fr;
    }
}
