.DisplayCode{
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 80px;
}

@media screen and (min-width: 767px){
    .DisplayCode{
        grid-template-columns : 1fr 1fr 1fr;
        grid-template-rows : 1fr 1fr;
    }
}


.niveaunutritif{
    grid-column: 1;
    grid-row: 2;
}
.proximite{
    grid-column: 2;
    grid-row: 2;
}

.scan-again-btn{
   position: absolute;
   top: 30rem;
    margin: 0 auto;
    width: 15rem;
    height: 3rem;
    color: white;
    background-color: #467302;
    border-radius: 10px;
    font-weight: 500;
  }
  
  .scan-again-btn:hover{
    background-color: #84BF04;
    cursor: pointer;
  }

