.map-button{
  grid-column: 1;
  grid-row: 3;
  background-color: #84BF04;
  width: 180px;
  height: 50px;
  font-size: 1.2rem;
  border: 2px solid #FFFFFF;
  border-radius:  30px;
  color: black;
  font-weight: 500;
}


.products-proxi{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1;
  grid-row: 6;
  width: 340px;
  height: 250px;
  margin-top: 30px;
  margin-left: 5px;
  border-radius: 10px;
  background-color:#FFDCBD ;
  background-size: cover;
  box-shadow: 7px 7px 1px 1px rgba(91, 91, 92, 0.2);
}

.title{
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (min-width: 767px){
  .products-proxi{
    margin-top: 80px;
    grid-column: 2;
    grid-row: 2;
  }
}



