.InfoPrincipales{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-column: 1;
    grid-row: 1;
    width: 340px;
    height: 250px;
    border-radius: 10px;
    background-color:#FFDCBD ;
    background-size: cover;
    box-shadow: 7px 7px 1px 1px rgba(91, 91, 92, 0.2);
}
.imgproducts{
    grid-column: 1;
    grid-row: 2;
    height: 130px;
    width: 130px;
    margin-left: 10px;
}
.nameProduct{
    grid-column: 1 / span  2;
    grid-row: 1;
}
.nameProduct h1{
    display: flex;
    font-size: 15px;
    justify-content: center;
}
.detailProducts{
    display: flex;
    grid-column: 2;
    grid-row: 2;
    flex-direction: column;
    line-height: 2em;
}


.isFavorite {
    grid-column: 2;
    grid-row: 3;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
    background-size: 100%;
    cursor: pointer;
  }
  
  .notFavorite {
    grid-column: 2;
    grid-row: 3;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
    background-size: 100%;
    cursor: pointer;
  }