* {
  margin: 0;
  padding: 0;
}
.body {
  background: linear-gradient(rgba(132,191,4,0.2), rgba(132,191,4,0.2)),
    url(../../assets/home.jpg);
  background-repeat: no-repeat;
  background-size: 1900px;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.intro{
  color: #ffffff;
  font-style: italic;
  width: 50%;
  margin-bottom: 100px;
  font-size: 1.5rem;

}

.img-container{
height: 200px;
display: flex;
align-items: center;
}

 .scan-img {
    border-radius: 20px;
    animation-name: slideIn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    height: 10rem;

}

.scan-img:hover{
  height: 12rem;
  filter: brightness(150%);
  transition: height 0.9s;
  transition: filter 0.9s;
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    margin-bottom: 0;
  }

  50% {
    margin-bottom: 1rem;
  }

  100% {
    margin-bottom: 0;
  }
}



@media screen and (min-width: 767px) {
  .body {
    margin-top: 80px;
    margin-bottom: 0;
    min-height: 850px;
  }

.intro{
  font-size: 2.5rem;
}  
}
