*{
  margin: 0;
  padding: 0;

}

.body{
  background-image: url(../../assets/home.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  min-height: 800px;

}
.logomain{
  display: flex;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: flex-end;
  width: 60px;
  height: 60px;
}

.buttonscan{
  order:1;
  height: 50px;
}
.buttonconnect{
  order:2;
  height: 50px;
}
.button2 { 
  background-color: white ;
  color: #467302;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.button1 {
  background-color: #467302;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.containerbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2;
  grid-row: 2;
}

