*{
  margin: 0;
  padding: 0;

}
.body{
  background-image: url(../../assets/home.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  min-height: 740px;
}
.logomain{
  display: flex;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  width: 150px;
  height: 150px;
}

.buttonscan{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84BF04;
  width: 180px;
  height: 50px;
  font-size: 1.2rem;
  border: 2px solid #FFFFFF;
  border-radius:  30px;
  color: black;
  font-weight: 500;
}
.wrapbutton{
  display: flex;
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
  align-items: flex-start;
}


@media screen and (min-width: 767px){
  .body{
    margin-top: 80px;
    min-height: 740px;
  }
}

