.nutrition{
    grid-column: 1;
    grid-row: 3;
    width: 95vw;
    height: 37vh;
    border-radius: 10px;
    background-color:#FFDCBD ;
    background-size: cover;
    box-shadow: 7px 7px 1px 1px rgba(91, 91, 92, 0.2);
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}
table{
    margin-left: 20px;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    height: 30px;
}

.nutrition caption{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}

.caract{
    background-color: #84BF04;
    color: #FFFFFF;
    width: 150px;
}
.td1-3{
    background-color: #e2fad3;
    width: 230px;
}
.td2-4{
    background-color: #FFFFFF;
}

.nutri-score{
    width: 100px;
    height: 50px;
}

@media screen and (min-width: 767px){
    .nutrition{
        width: 30vw;
        height: 37vh;
        margin: 0 0 0 0;
        grid-column: 3;
        grid-row: 1;
    }
}

.titleFront{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #467302;
  }
  
  .icon{
    color: #467302;
  }