
.nutrition{
    grid-column: 1;
    grid-row: 3;
    width: 340px;
    height: 250px;
    margin-top: 30px;
    border-radius: 10px;
    background-color:#FFDCBD ;
    background-size: cover;
    box-shadow: 7px 7px 1px 1px rgba(91, 91, 92, 0.2);
    transform: rotateY(180deg);
}
table{
    border-collapse: collapse;
 
}

td, th{
    border: 1px solid black;
    height: 30px; 
}

.nutrition caption{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.caract{
    background-color: #84BF04;
    color: #FFFFFF;
    width: 110px;
}
.td1-3{
    background-color: #e2fad3;
    width: 230px;
}
.td2-4{
    background-color: #FFFFFF;
}

@media screen and (min-width: 767px){
    .nutrition{
        margin-top: 20px;
        grid-column: 3;
        grid-row: 1;
    }
}