*{
    font-family: 'Montserrat', sans-serif;
}

.header{
    z-index: 1;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 80px;
    width: 100%;
    background-color: #467302 ;
}
.logoheader{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    grid-column: 1;
    grid-row: 1;
    
}
.imgheader{
    width: 55px;
    height: 55px;
}


/* NAVBAR */

.navbar{
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 75px;
    height: 75px;
    padding: 1rem;
    background-size: 100%;
    color: #FFFFFF;
}
.navbar_links{
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 2rem;
    background-color:  #467302;
    transition: all 0.8s ease-out;
}

.show_nav .navbar_links{
    width: 100vw;
    right: 0;
    visibility: visible;
}
.navbar_item::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background: #FFFFFF;
}
.navbar_item:last-child::after{
    display: none;
}
.navbar_link{
    color: inherit;
    display: block;
    padding: 1.5rem;
    font-size: 8vw;
    font-weight: 500;
}
.navbar_burger{
    z-index: 1;
    grid-column: 3;
    grid-row: 1;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.navbar_burger:hover{
    cursor: pointer;
}
.burger-bar,
.burger-bar::before,
.burger-bar::after{
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: #FFFFFF;
    transition: all .5s ease-in-out;
}
.burger-bar::before,
.burger-bar::after{
    content: "";
    position: absolute;
    left: 0;
}
.burger-bar::before{
    transform: translateY(-12px);
}
.burger-bar::after{
    transform: translateY(12px);
}
.show_nav .burger-bar{
    width: 0;
    background: transparent;
}
.show_nav .burger-bar::before{
    transform: rotate(45deg);
}
.show_nav .burger-bar::after{
    transform: rotate(-45deg);
}
/* burger button animation */
.navbar_item{
    transform: translateY(100vh);
}
.show_nav .navbar_item{
    transform: translateY(0);
}
.show_nav .slideInDown-1{
    transition: all 1s ease-out;
}
.show_nav .slideInDown-2{
    transition: all 1.1s ease-out;
}
.show_nav .slideInDown-3{
    transition: all 1.2s ease-out;
}
.show_nav .slideInDown-4{
    transition: all 1.3s ease-out;
}
.show_nav .slideInDown-5{
    transition: all 1.4s ease-out;
}

@media screen and (min-width: 767px) {
    .searchBar{
        padding-left: 30px;
        grid-column: 1;
        grid-row: 1;
    }

    .logoheader{
        justify-content: center;
        grid-column: 2 ;
        grid-row: 1;
    }
    .imgheader{
        width: 80px;
        height: 80px;
    }
    .show_nav .navbar_links{
        width: 30vw;
        font-size: 15px;
        
    }
    .navbar_link{
        font-size: 2vw;
    }
    .searchBar input {
        width: 300px;

    }

}  
