.alternative{
  grid-column: 1;
  grid-row: 4;
  width: 340px;
  height: 250px;
  margin-top: 30px;
  border-radius: 10px;
  background-color:#FFDCBD ;
  background-size: cover;
  box-shadow: 7px 7px 1px 1px rgba(91, 91, 92, 0.2);
}

h1 {
    text-align: center;
    margin: 30px;
  }

.isFavorite {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
    background-size: 100%;
    cursor: pointer;
  }
  
  .notFavorite {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 5px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
    background-size: 100%;
    cursor: pointer;
  }

  .product-btn button {
    background-color: #84BF04;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    padding: 10px;
    margin: 30px;
    width: 180px;
    height: 50px;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
  }

  button:active {
    background-color: #84BF04;
    }

@media screen and (min-width: 767px){
  .alternative{
    margin-top: 80px;
    grid-column: 3;
    grid-row: 2;
    }
}

.titleFront{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #467302;
}

.icon{
  color: #467302;
}
