
.alternative{
  width: 30vw;
  height: 37vh;
  grid-column: 3;
  grid-row: 2;
  margin-top: 0px;
  border-radius: 10px;
  background-color:#FFDCBD ;
  background-size: cover;
  color: #467302;
  box-shadow: 7px 7px 1px 1px rgba(91, 91, 92, 0.2);
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
  translateY(var(--translate-y, 0));
  overflow: hidden;
}

.text-center{
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin-top: 10px;
  color: #730217;
}

.product-btn button{
  background-color: #84BF04;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  width: 180px;
  height: 50px;
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
}

button:active{
  background-color: #84BF04;
}

.detail u{
  font-size: 16px;
  font-weight: 600;
}

.detail{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 767px){
  .alternative{
    grid-column: 1;
    grid-row: 4;
    width: 95vw;
    height: 37vh;

    }

    .text-center{
      font-size: 20px;
    }

}

.titleFront{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #467302;
}


