.alimentation{
    grid-column: 1;
    grid-row: 2;
    width: 95vw;
    height: 37vh;
    margin-top: 20px;
    border-radius: 10px;
    background-color:#FFDCBD ;
    background-size: cover;
    box-shadow: 7px 7px 1px 1px rgba(91, 91, 92, 0.2);
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}
table{
    border-collapse: collapse;
 
}

td, th{
    border: 1px solid black; 
}

.alimentation caption{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
    color: #730217;
}

.caract{
    background-color: #84BF04;
    color: #FFFFFF;
    width: 100px;
}
.td1-3{
    background-color: #e2fad3;

}
.td2-4{
    background-color: #FFFFFF;
}

#categories{
    overflow: hidden;
}


@media screen and (min-width: 767px){
    .alimentation{
        grid-column: 2;
        grid-row: 1;
        width: 30vw;
        height: 37vh;
        margin: 0 0 0 0;
    }
}
 
.titleFront{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #467302;
  }

  .card .front{
    transform: rotateY(0deg);
    left: 0;
    width: inherit;
    height: inherit;
  }