
  
.alimentation{
    grid-column: 1;
    grid-row: 2;
    width: 340px;
    height: 250px;
    margin-top: 20px;
    border-radius: 10px;
    background-color:#FFDCBD ;
    background-size: cover;
    box-shadow: 7px 7px 1px 1px rgba(91, 91, 92, 0.2);
}
table{
    border-collapse: collapse;
 
}

td, th{
    border: 1px solid black;
    
}

.alimentation caption{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.caract{
    background-color: #84BF04;
    color: #FFFFFF;
    width: 100px;
}
.td1-3{
    background-color: #e2fad3;

}
.td2-4{
    background-color: #FFFFFF;
}

@media screen and (min-width: 767px){
    .alimentation{
        grid-column: 2;
        grid-row: 1;
    }
}
 